<network>
  <name>{{ item.name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ item.bridge_name }}' stp='on' delay='0'/>
  <ip address='{{ item.bridge_ip }}' netmask='{{ item.netmask }}'>
    <dhcp>
      <range start='{{ item.dhcp_start }}' end='{{ item.dhcp_end }}'/>
    </dhcp>
  </ip>
</network>
