#cloud-config

groups:
  - {{ item.login_user }}

users:
  - name: {{ item.login_user }}
    gecos: Cloud-Init User {{ item.login_user }}
    primary_group: {{ item.login_user }}
    groups: wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_password: true
    ssh_authorized_keys:
      - "{{ ssh_pub_key }}"

