##############################
# Custom ESXi kickstart file #
##############################

accepteula

install --firstdisk --overwritevmfs

#Set password, either encrypted or unencrypted
rootpw --iscrypted {{ esxi_login_pass | password_hash('sha512') }}
#rootpw mypassword

#Keyboard
keyboard 'US Default'

reboot

network --bootproto=dhcp

%firstboot --interpreter=busybox

sleep 20

# other examples
#esxcli network ip dns search add --domain={{ esxi_dns_domain }}
#esxcli network ip dns server add --server={{ esxi_nameserver }}
#esxcli network vswitch standard uplink add --uplink-name vmnic1 --vswitch-name vSwitch0
#esxcli system maintenanceMode set -e true

#Suppress shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1

# enable & start remote ESXi Shell  (SSH)
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# Inject the ssh key into the autohrozed_keys file
echo '{{ ssh_pub_key }}' >> /etc/ssh/keys-root/authorized_keys

