{
  "ignition": { "version": "3.0.0" },
  "passwd": {
    "users": [
      {
        "name": "{{ item.login_user }}",
        "sshAuthorizedKeys": [
          "{{ ssh_pub_key }}"
        ]
      }
    ]
  },
  "storage": {
    "files": [
      {
        "filesystem": "root",
        "group": {},
        "path": "/etc/hostname",
        "user": {},
        "overwrite": true,
        "contents": {
          "source": "data:,{{ item.name }}",
          "verification": {}
        },
        "mode": 420
      }
    ]
  }
}

