[all]
{% for curnode in nodes %}
{{ curnode.name }} ansible_host={{ vm_ip_addrs[curnode.name] }} ansible_user={{ curnode.login_user }} ansible_ssh_private_key_file={{ curnode.login_key_file }}
{% endfor %}
