[all]
{% for curnode in nodes %}
{{ curnode.name }} ansible_host={{ vm_ip_addrs[curnode.name] }} ansible_user={{ curnode.login_user }} ansible_ssh_private_key_file=../{{ curnode.login_key_file }} etcd_member_name={{ curnode.name }}
{% endfor %}

[kube-master]
{% for curnode in nodes %}
{% if curnode.name | regex_search(kube_master_node_match) %}
{{ curnode.name }}
{% endif %}
{% endfor %}

[etcd]
{% for curnode in nodes %}
{% if curnode.name | regex_search(kube_master_node_match) %}
{{ curnode.name }}
{% endif %}
{% endfor %}

[kube-node]
{% for curnode in nodes %}
{% if curnode.name | regex_search(kube_slave_node_match) %}
{{ curnode.name }}
{% endif %}
{% endfor %}

[calico-rr]

[k8s-cluster:children]
kube-master
kube-node
calico-rr

